<div class="row">
  <div class="col-12">
    <form class="mb-3 ms-3">
      <div class="row">
        <div class="col-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="col-1">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="amount">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-light">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
