<div class="container">
  <div class="row">
  <div class="col-12">
    <button class="btn btn-success mt-2" style="margin-top: 10px;">Add recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-info" *ngFor="let recipe of recipes">
          <div class="float-end">
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
            <p class="list-group-item-text">{{ recipe.descr  }}</p>
          </div>
          <div class="float-start">
            <img [src]="recipe.imagePath" class="img-responsive" style="max-height: 50px;">
          </div>
        </a>
    </div>
    <a href="#"></a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
</div>

