<div class="conteiner">
  <div class="row">
    <div class="col-12">
      <img src="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Recipe name</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success recipe-btn">Add shopping list</button>
      <button class="btn btn-primary recipe-btn">Edit recipe</button>
      <button class="btn btn-danger recipe-btn">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      description
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      ingredients
    </div>
  </div>
</div>
