	<div class="row">
		<div class="col-md-10">
			<app-shopping-list-edit></app-shopping-list-edit>
			<ul class="list-group ms-4">
				<a class="list-group-item" *ngFor="let ingredient of ingredients">
					<h4>{{ingredient.name}} ({{ ingredient.amount }})</h4>
				</a>
			</ul>
		</div>
	</div>
